<div class="container" id="basicContainer">
  <br />
  <div class="list-group">
    {{#each posts as |post|}}
      <div class="p-2">
        <a href={{link}} class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1">{{post.title}}</h4>
            <small class="text-muted">Posted by
              {{post.user.username}}
              on
              {{post.publishedAt}}</small>
          </div>
          <p class="mb-1">{{post.content}}</p>
        </a>
      </div>
    {{/each}}
  </div>
</div>